<h1>Listing features for <%= @project.name %></h1>

<table>
  <thead>
    <tr>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= feature.path %></td>
        <td><%= link_to 'Show', project_feature_path(@project, feature) %></td>
        <td><%= link_to 'Edit', edit_project_feature_path(@project, feature) %></td>
        <td><%= link_to 'Destroy', project_feature_path(@project, feature), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feature', new_project_feature_path %>
