<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @post.event_id %>
</p>

<p>
  <b>Writer:</b>
  <%= @post.writer_id %>
</p>

<p>
  <b>Post:</b>
  <%= @post.post %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
